# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Raw dataset files
data/train.csv
data/test.csv
data/store.csv

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/